<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Memory</title>
  <script>
  <!-- <link rel="stylesheet" href="./css/solve_up.css"> -->
  <!-- component template -->
    <script type="text/x-template" id="grid-template">
      <table>
        <tbody>
          <tr v-for="n in 10">
            <td v-for="k in 10">
              {{matrix[n][k]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>
</head>

<body>
  <div id="app">
    <p>{{ text }}</p>
    <memory-grid :matrix="memoryMatrix"></memory-grid>
    <button v-if="!endGame" @click=go>Go!</button>

  </div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="./js/lodash.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/memory.js"></script>
</html>
