/* Color Palette
#ffcdb2
#ffb4a2
#e5989b
#b5838d
#6d6875
*/
$bg-color: #fffcf4;
$bg-color-dark: #b8b5ae;
$header-bg-color: #3b3934;
$font-color: #262321;
$button-color: #ffad9b;
$button-color-hover: #ff926b;
$button_shadow: #ea958c;
$game-green: #7de869;
$game-red: #ff8e8e;
$table-border: #ffe7d6;
$matrix-card-color: #fbe9e6;
